.snakemake
notebooks/.ipynb_checkpoints
reports/appendices/AppendixTemplate.tex
reports/appendices/*.aux
reports/chapters/chapter_example.tex
reports/chapters/*.aux
reports/code_blocks/__pycache__
reports/main.aux
reports/main.bbl
reports/main.blg
reports/main.fdb_latexmk
reports/main.fls
reports/main.lof
reports/main.log
reports/main.lol
reports/main.lot
reports/main.out
reports/main.toc
reports/figures
bibfun.py
data
**/.DS_Store
**/__pycache__
output/reflectometry1/dlpc_xray/*
output/reflectometry1/dmpc_xray/*
output/reflectometry1/dppc_xray/*
output/reflectometry1/dmpg_xray/*
output/reflectometry1/dppc_neutron/*
output/reflectometry1/dmpc_neutron/*
output/reflectometry2/dspc_20/*
output/reflectometry2/dspc_30/*
output/reflectometry2/dspc_40/*
output/reflectometry2/dspc_50/*
data.zip
rsc-main.bib

!output/reflectometry1/dlpc_xray/.gitkeep
!output/reflectometry1/dmpc_xray/.gitkeep
!output/reflectometry1/dppc_xray/.gitkeep
!output/reflectometry1/dmpg_xray/.gitkeep
!output/reflectometry1/dppc_neutron/.gitkeep
!output/reflectometry1/dmpc_neutron/.gitkeep
!output/reflectometry2/dspc_20/.gitkeep
!output/reflectometry2/dspc_30/.gitkeep
!output/reflectometry2/dspc_40/.gitkeep
!output/reflectometry2/dspc_50/.gitkeep
