.snakemake
config/requirements.out
notebooks/.ipynb_checkpoints
reports/appendices/AppendixTemplate.tex
reports/appendices/*.aux
reports/chapters/chapter_example.tex
reports/chapters/*.aux
reports/code_blocks/__pycache__
reports/main.aux
reports/main.bbl
reports/main.blg
reports/main.fdb_latexmk
reports/main.fls
reports/main.lof
reports/main.log
reports/main.lol
reports/main.lot
reports/main.out
reports/main.toc
reports/rsc-main.bib
