*chain.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_h_sigma_sp40.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_V_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_h_phi_h_sp40.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_d_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_h_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_d_t_sp35.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_phi_h_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_V_h_sp35.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_t_d_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_d_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_d_t_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_t_phi_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_sigma_sp35.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_sum_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_h_sigma_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_t_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_t_phi_h_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_h_d_t_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_t_d_h_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_d_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_h_d_t_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_V_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_phi_h_sigma_sp40.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_h_d_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_d_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_phi_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_phi_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_h_sigma_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_h_sigma_sp35.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_h_phi_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_sum_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_h_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_t_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_sum_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_d_t_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_t_d_h_sp40.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_h_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_phi_h_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_phi_h_sigma_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_t_d_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_V_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_h_d_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_t_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_h_phi_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_h_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_t_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_h_d_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_t_phi_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_h_phi_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_h_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_V_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_phi_h_sp40.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_h_phi_h_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_phi_h_sigma_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_t_d_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_phi_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_h_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_h_d_t_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_d_t_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_h_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_neutron/dmpc_p_d_t_phi_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_h_phi_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_d_t_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_h_phi_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_h_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_t_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_h_sigma_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_sum_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_h_sigma_sp35.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_V_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_t_d_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_h_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_h_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_h_phi_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_h_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_t_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_h_d_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_d_t_sp40.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_t_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_sigma_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_t_d_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_d_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_h_d_t_sp35.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_t_sigma_sp35.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_phi_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_h_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_phi_h_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_t_sigma_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_d_t_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_phi_h_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_h_phi_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_h_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_h_d_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_h_phi_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_d_h_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_h_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_h_d_t_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_h_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_V_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_d_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_t_d_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_h_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_t_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_t_phi_h_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_phi_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_neutron/dmpc_p_all_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_h_phi_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_t_phi_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_phi_h_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_phi_h_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_h_d_h_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_h_d_t_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_V_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_sigma_sp40.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_phi_h_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_t_d_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_phi_h_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_all_sp35.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_h_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_h_d_t_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_sum_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_V_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_all_sp40.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_t_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_d_t_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_h_phi_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_h_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_h_phi_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_t_d_h_sp35.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_neutron/dmpc_neutron_25_chain.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_h_d_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_h_d_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_d_h_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_d_t_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_d_t_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_h_phi_h_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_phi_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_phi_h_sp35.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_t_phi_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_neutron/dppc_neutron_20_chain.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_h_d_t_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_V_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_xray_chain.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_h_d_t_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_h_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_t_phi_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_h_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_t_d_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_sum_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_h_d_t_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_phi_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_h_phi_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_h_d_h_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_d_t_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_h_phi_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_h_phi_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_h_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_t_d_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_neutron/dmpc_p_d_t_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_sum_sp40.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_h_d_t_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_t_phi_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_phi_h_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_h_d_t_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_t_d_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_t_sigma_sp40.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_h_d_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_d_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_h_phi_h_sp35.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_phi_h_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_t_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_h_d_h_sp35.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_h_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_h_phi_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_sigma_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_h_phi_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_t_phi_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_h_phi_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_neutron/dmpc_neutron_20_chain.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_t_d_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_t_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_h_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_d_h_sp40.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_t_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_phi_h_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_h_d_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_d_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_sum_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_h_d_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_d_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_phi_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_phi_h_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_h_d_t_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_h_phi_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_t_d_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_phi_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_all_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_sum_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_neutron/dmpc_p_sum_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_h_phi_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_t_phi_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_h_d_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_t_phi_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_h_phi_h_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_phi_h_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_xray_chain.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_V_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_h_phi_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_phi_h_sigma_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_h_phi_h_sp35.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_phi_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_h_phi_h_sp40.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_sum_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_h_phi_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_h_sigma_sp40.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_sum_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_all_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_V_h_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_neutron/dppc_neutron_15_chain.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_d_t_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_h_phi_h_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_t_phi_h_sp35.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_h_d_h_sp40.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_V_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_h_d_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_d_t_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_neutron/dmpc_p_phi_h_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_t_phi_h_sp40.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_d_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_sum_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_sum_sp35.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_h_d_t_sp40.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_d_t_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_phi_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_sum_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_h_phi_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_V_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_t_phi_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_phi_h_sigma_sp35.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_xray_chain.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_V_t_d_h_sp35.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_d_t_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_h_d_t_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_d_h_phi_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_sum_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_d_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_h_d_t_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_t_d_h_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_d_t_phi_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_V_h_sp40.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_sum_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_h_sigma_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_d_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_h_sigma_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_sigma_sp25.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_t_d_t_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_d_t_sigma_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dppc_xray/dppc_p_V_t_V_h_sp15.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dlpc_xray/dlpc_p_d_t_phi_h_sp20.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpc_xray/dmpc_p_V_t_phi_h_sp30.txt filter=lfs diff=lfs merge=lfs -text
output/reflectometry1/dmpg_xray/dmpg_p_V_h_phi_h_sp25.txt filter=lfs diff=lfs merge=lfs -text
